@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap");
@import 'layout/normalize.css';
@media screen and (max-width: 1100px) {
  .container {
    width: 100%;
  }
}
html, body {
  height: 100%;
  min-width: 100%;
}

html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

.body {
  font-family: "Alegreya Sans", sans-serif;
}
.body--active-menu {
  overflow: hidden;
}

.wrapper {
  position: relative;
}

.container {
  max-width: 940px;
  padding: 0 1.1111111111rem;
  height: 100%;
  margin: 0 auto;
}
.container--full-width {
  width: auto;
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0;
  }
}

.inner-container {
  padding: 0 4.4444444444rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

p {
  padding: 0;
  margin: 0;
}

.btn {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.btn-primary {
  font-size: 0.8888888889rem;
  text-transform: uppercase;
  padding: 1.1666666667rem 2.2777777778rem;
  background-color: #fedb3f;
  border-radius: 2.2222222222rem;
  font-weight: 800;
  transition: background-color 0.3s;
}
.btn-primary:hover {
  background-color: #FFD517;
}

.btn-reset {
  color: #ffffff;
  transition: color 0.3s;
}
.btn-reset:hover {
  color: #fedb3f;
}

.btn-slide {
  position: absolute;
  top: 50%;
}

#slide-left {
  left: 0;
}
@media screen and (max-width: 768px) {
  #slide-left {
    top: 30%;
  }
}

#slide-right {
  right: 0;
}
@media screen and (max-width: 768px) {
  #slide-right {
    top: 30%;
  }
}

.form {
  margin-top: 3.6111111111rem;
}
.form__container {
  display: flex;
  gap: 1.2222222222rem;
}
.form__row {
  display: flex;
  gap: 1.2222222222rem;
}
.form__row--buttons {
  margin-top: 1.2222222222rem;
}
.form__row--radios {
  margin-top: 0.7777777778rem;
}
.form__row--checkboxes {
  margin-top: 0.8888888889rem;
}
.form__column {
  display: flex;
  flex-direction: column;
  gap: 0.7777777778rem;
}
.form__column--equal {
  width: 50%;
}
.form__field {
  width: 100%;
}
.form__field--checkbox {
  margin-top: 0.8888888889rem;
}
.form__field--checkbox label {
  margin-bottom: 0;
}
.form__field--radio {
  width: auto;
}
.form__field--radio label {
  margin-bottom: 0;
}
.form__label {
  display: flex;
  gap: 0.5555555556rem;
  align-items: center;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 0.1111111111rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.form__control {
  box-sizing: border-box;
  padding: 1rem 0.6666666667rem;
  width: 100%;
  border: 0.1666666667rem solid transparent;
  border-radius: 0.2222222222rem;
  outline: 0;
}
.form__control:focus {
  border: 0.1666666667rem solid #fedb3f;
}
.form__control--textarea {
  height: 150px;
}
.form__chk {
  display: none;
}
.form__chk:checked + .form__checkbox {
  background: url("../images/icons/checkmark.svg") center center no-repeat #ffffff;
}
.form__chk:checked + .form__radiobox {
  background-image: radial-gradient(#fedb3f 0, #fedb3f 0.3333333333rem, #ffffff 0.3333333333rem, #ffffff 100%);
}
.form__checkbox {
  flex-shrink: 0;
  display: inline-block;
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  background-color: #ffffff;
}
.form__radiobox {
  flex-shrink: 0;
  display: inline-block;
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  background-color: #ffffff;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .form__container {
    flex-direction: column;
  }
  .form__row--checkboxes {
    margin-top: 1.1666666667rem;
  }
  .form__row--buttons {
    margin-top: 0.7777777778rem;
    justify-content: center;
  }
  .form__column--equal {
    width: 100%;
  }
  .form__control {
    padding: 0.4444444444rem 0.5555555556rem;
  }
  .form__control--textarea {
    height: 80px;
  }
}
@media screen and (max-width: 480px) {
  .form__row--checkboxes {
    justify-content: center;
  }
  .form__row--radios {
    justify-content: center;
  }
  .form__control {
    padding: 0.4444444444rem 0.5555555556rem;
  }
}

.page-nav {
  position: fixed;
  top: 50%;
  right: 2.7777777778rem;
  transform: translateY(-50%);
  z-index: 10;
}
.page-nav__dot {
  display: block;
  width: 1rem;
  height: 1rem;
  background-image: radial-gradient(#ffffff 0, #ffffff 0.1666666667rem, transparent 0.1666666667rem, transparent 100%);
  border: 0.0555555556rem solid transparent;
  border-radius: 50%;
  transition: border 0.3s;
  cursor: pointer;
}
.page-nav__dot:not(:last-child) {
  margin-bottom: 0.3333333333rem;
}
.page-nav__dot--active, .page-nav__dot:hover {
  border: 0.0555555556rem solid #ffffff;
}
@media screen and (max-width: 768px) {
  .page-nav {
    display: none;
  }
}

.section {
  overflow: hidden;
  height: 100vh;
  box-sizing: border-box;
}
.section__heading {
  font-size: 2.6666666667rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.section__heading--white {
  color: #ffffff;
}
.section__heading__subheading {
  text-align: center;
  width: 24.2222222222rem;
  margin: 0 auto;
  margin-top: 0.9444444444rem;
  color: #666;
  line-height: 1.25;
}
@media screen and (max-width: 768px) {
  .section__subheading {
    padding: 0 6.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .section__heading {
    font-size: 2.2222222222rem;
  }
  .section__subheading {
    padding: 0 1.1111111111rem;
  }
}

.order .section__heading {
  position: relative;
  z-index: 2;
}

.advantages {
  padding: 6rem 4.5555555556rem;
  padding-bottom: 3.8888888889rem;
  text-align: center;
}
.advantages__list {
  display: flex;
  justify-content: space-between;
  margin-top: 2.7222222222rem;
}
.advantages__item {
  display: flex;
  flex-grow: 1;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 0 1.3888888889rem;
}
.advantages__item:not(:last-child)::after {
  content: "";
  display: block;
  width: 3.7222222222rem;
  height: 1.1666666667rem;
  position: absolute;
  transform: translate(50%, -10px);
  right: 0;
  top: 3.5555555556rem;
  background: url("../images/icons/advantages-divider.svg");
}
.advantages__item:first-child {
  padding-left: 0;
}
.advantages__item:last-child {
  padding-right: 0;
}
.advantages__image {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  height: 7.1111111111rem;
  width: 7.1111111111rem;
  border-radius: 50%;
  background-color: #f2f5f4;
}
.advantages__img {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
}
.advantages__content {
  margin-top: 1.1111111111rem;
}
.advantages__heading {
  font-size: 1.5rem;
}
.advantages__text {
  margin-top: 1.1111111111rem;
  color: #666;
  font-size: 1rem;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .advantages {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .advantages .container {
    height: auto;
  }
  .advantages__list {
    padding: 0 0.2777777778rem;
  }
  .advantages__item:not(:last-child)::after {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .advantages {
    padding: 2.9444444444rem 0.4444444444rem;
    text-align: left;
  }
  .advantages__list {
    flex-direction: column;
  }
  .advantages__item {
    padding: 0;
    flex-direction: row;
    gap: 0.6666666667rem;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 1.6666666667rem;
  }
  .advantages__content {
    margin: 0;
  }
  .advantages__text {
    margin-top: 0.5555555556rem;
  }
}

.benefits {
  margin-top: 2.6666666667rem;
}
.benefits__list {
  display: flex;
  align-items: center;
  gap: 1.6666666667rem;
}
.benefits__item {
  display: flex;
  align-items: center;
  gap: 0.9444444444rem;
}
.benefits__icon {
  display: flex;
  width: 45px;
  height: 45px;
}
.benefits__img {
  width: 100%;
}
.benefits__content {
  width: 5rem;
}
.benefits__text {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .benefits {
    display: none;
  }
}

.contacts {
  font-style: normal;
  text-decoration: none;
  white-space: nowrap;
}
.contacts--black {
  color: #292929;
}
.contacts--black .contacts__phone::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 0.8333333333rem;
  background: center/contain no-repeat url("../images/icons/Call-black.svg");
}
.contacts__phone {
  margin-top: 0.3333333333rem;
  white-space: nowrap;
}
.contacts__phone::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 0.8333333333rem;
  background: center/contain no-repeat url("../images/icons/Call.svg");
}
.contacts__link {
  font-size: 1.2222222222rem;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .contacts {
    display: none;
  }
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.9444444444rem 4.4444444444rem;
  background-color: #ffffff;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 1.5555555556rem 1.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .footer .container {
    flex-direction: column;
    align-items: stretch;
    gap: 1.1111111111rem;
  }
  .footer__left {
    text-align: center;
  }
}

.goods__items {
  display: flex;
  height: 100%;
}
.goods__item {
  min-width: 5.5555555556rem;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.goods__item--active {
  flex-grow: 2;
}
.goods__item--active .goods__heading {
  transform: rotate(0deg);
  left: 4.6666666667rem;
  top: 6.0555555556rem;
}
.goods__item--active .goods__img {
  filter: brightness(100%);
}
.goods__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(40%);
}
.goods__heading {
  position: absolute;
  bottom: 6.1111111111rem;
  left: -3.3333333333rem;
  font-size: 2.6666666667rem;
  color: #ffffff;
  transform: rotate(-90deg);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header {
    background-color: #1968B1;
    padding: 1.4444444444rem 1.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .header {
    padding: 1.3333333333rem 0.5555555556rem;
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 1.9444444444rem;
  right: 1.6666666667rem;
  width: 1.4444444444rem;
  height: 1.3333333333rem;
  z-index: 20;
  cursor: pointer;
  align-items: center;
}
.hamburger__plank {
  width: 100%;
  height: 0.2222222222rem;
  background-color: #ffffff;
  border-radius: 0.1111111111rem;
  transition: transform 0.3s;
}
.hamburger--active .hamburger__plank:nth-child(1) {
  opacity: 0;
}
.hamburger--active .hamburger__plank:nth-child(2) {
  transform: rotate(45deg);
}
.hamburger--active .hamburger__plank:nth-child(3) {
  transform: rotate(-45deg) translateY(-7px) translateX(7px);
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }
}

.overlay {
  background-color: rgba(100, 100, 100, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
  position: fixed;
  top: 0;
  left: 100%;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
}
.overlay--active {
  left: 0;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .overlay .menu {
    display: flex;
  }
}
.overlay .menu__list {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: normal;
}
.overlay .menu__item {
  padding: 0;
  margin: 0;
}

.hero {
  padding-top: 1.1666666667rem;
  background: url("../images/content/header-1.jpg") center 90%/cover no-repeat;
  color: #ffffff;
}
.hero__content {
  margin-top: 5.6666666667rem;
  max-width: 27rem;
}
.hero__heading {
  margin-bottom: 0.9444444444rem;
  font-size: 2.6666666667rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.18em;
}
.hero__text {
  font-size: 1.1666666667rem;
  margin-bottom: 2.2222222222rem;
}
@media screen and (max-width: 768px) {
  .hero {
    padding: 0;
  }
  .hero__content {
    height: 100%;
    margin: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2.7777777778rem;
  }
  .hero__heading {
    margin-bottom: 0.5rem;
    text-align: center;
  }
  .hero__text {
    font-size: 1.1666666667rem;
    margin-bottom: 2.2222222222rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__heading {
    font-size: 2.6666666667rem;
  }
  .hero__text {
    font-size: 1.1666666667rem;
    margin-bottom: 2.2222222222rem;
  }
}

.map {
  position: relative;
}

.menu {
  flex-grow: 2;
  margin: 0 2.6111111111rem;
}
.menu__list {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.menu__link {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
    justify-content: center;
  }
}

.order {
  position: relative;
  padding: 3.4444444444rem 15% 4.7222222222rem 15%;
  background: url("../images/content/order-form-bg.jpg") center center/cover no-repeat;
}
.order:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.order__form {
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .order {
    padding: 3.4444444444rem 10% 4.7222222222rem 10%;
  }
}
@media screen and (max-width: 480px) {
  .order {
    padding: 3.4444444444rem 1% 4.7222222222rem 1%;
  }
}

.params {
  padding: 15px 0;
}
.params__info {
  position: relative;
  width: 5.0555555556rem;
  height: 5.0555555556rem;
  background-color: #3a587e;
  border-radius: 4px;
}
.params__info:hover .info__menu {
  opacity: 1;
}
.params__image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.params__img {
  width: 2.1111111111rem;
  height: 2.1111111111rem;
}
.params__title {
  font-size: 0.7777777778rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}
.params__heading {
  margin-top: 2.7777777778rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.params__text {
  margin-top: 1.3333333333rem;
  color: #666;
}
.params__table {
  margin-top: 1.3333333333rem;
}
.params__footer {
  margin-top: 1.3333333333rem;
  display: flex;
  align-items: center;
  gap: 2.7777777778rem;
}
.params__price {
  font-size: 3.3333333333rem;
  color: #151515;
}
@media screen and (max-width: 768px) {
  .params__info {
    display: none;
  }
  .params__heading {
    font-size: 1.6666666667rem;
    margin-top: 0;
  }
  .params__footer {
    justify-content: center;
  }
  .params__price {
    font-weight: 300;
  }
}

.info__menu {
  position: absolute;
  left: 100%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 0.06);
  padding: 1.5555555556rem 1.6666666667rem;
  width: 16.1666666667rem;
  color: #292929;
  font-size: 0.8888888889rem;
  font-weight: 500;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 0.2222222222rem;
  box-sizing: border-box;
}
.info__item {
  display: flex;
  align-items: center;
  margin-bottom: 0.4444444444rem;
}
.info__item:last-child {
  margin-bottom: 0;
}
.info__icon {
  width: 1.7777777778rem;
  height: 1.7777777778rem;
}
.info__desc {
  color: black;
  font-size: 0.8888888889rem;
  font-weight: 700;
}
.info__data {
  flex: 1;
  text-align: end;
  color: black;
}

.review-card {
  margin-top: 1.7777777778rem;
  padding: 2.3333333333rem;
  background-color: #f2f5f4;
  display: flex;
  gap: 1.7777777778rem;
}
.review-card__image {
  width: 14.0555555556rem;
}
.review-card__right {
  padding-top: 1.5555555556rem;
}
.review-card__heading {
  font-size: 1.5rem;
  font-weight: 700;
}
.review-card__text {
  max-width: 25.7222222222rem;
  margin: 0.7777777778rem 0 0 0.1666666667rem;
  line-height: 1.23;
  font-weight: 400;
  color: #666;
}
.review-card__author {
  margin: 1.5rem 0 0 0.1666666667rem;
  font-weight: 500;
}

@media screen and (max-width: 1100px) {
  .review-card {
    align-items: center;
    flex-direction: column;
  }
  .review-card__image {
    width: 7.2222222222rem;
  }
  .review-card__right {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .review-card__text {
    text-align: center;
  }
}
.review-selector {
  margin-top: 0.8333333333rem;
}
.review-selector__list {
  display: flex;
  gap: 0.2222222222rem;
  justify-content: center;
}
.review-selector__item {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.review-selector__item--active .review-selector__link, .review-selector__item:hover .review-selector__link {
  border-width: 0.3333333333rem;
}
.review-selector__link {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0 solid #fedb3f;
  overflow: hidden;
  transition: border 0.3s;
}
.review-selector__image {
  width: 100%;
  height: 100%;
}

.reviews {
  padding: 3.4444444444rem 4.3888888889rem;
}
@media screen and (max-width: 768px) {
  .reviews {
    padding: 0;
    display: flex;
    align-items: center;
  }
  .reviews .container {
    height: auto;
  }
}

.slider {
  background-color: #f8faf9;
  padding: 3.6111111111rem 0 1.8333333333rem 0;
  overflow: hidden;
}
.slider .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.slider__wrapper {
  overflow: hidden;
}
.slider__slides {
  display: flex;
  position: relative;
  transition: right;
}
@media screen and (max-width: 768px) {
  .slider {
    padding: 1.6666666667rem 10%;
  }
}
@media screen and (max-width: 480px) {
  .slider {
    padding: 0.8333333333rem 2%;
  }
}

.slide {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  gap: 60px;
  justify-content: stretch;
}
.slide__left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: url("../images/slider/spot.svg") center center/100% no-repeat;
}
.slide__img {
  width: 100%;
}
.slide__right {
  flex: 1;
}
@media screen and (max-width: 768px) {
  .slide {
    flex-direction: column;
    gap: 20px;
  }
  .slide__left {
    background-size: 80%;
  }
  .slide__left__image {
    width: 100%;
  }
  .slide__right {
    text-align: center;
  }
}
.socials__items {
  display: flex;
  gap: 0.7777777778rem;
}
.socials__link {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
}
.socials__icon {
  width: 20px;
  height: 20px;
  fill: #B3B3B3;
}
.socials__icon:hover {
  fill: #000000;
}
@media screen and (max-width: 480px) {
  .socials .socials__items {
    justify-content: center;
  }
}

.table {
  display: flex;
}
.table__row {
  display: flex;
  gap: 44px;
}
.table__heading {
  font-weight: 400;
  color: #666;
}
.table__cell {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .table {
    justify-content: center;
  }
}

.team {
  margin: 3.7777777778rem 4.4444444444rem 3.3333333333rem;
  text-align: center;
}
.team__list {
  display: flex;
  justify-content: space-between;
  margin-top: 2.9444444444rem;
}
.team__content {
  margin-top: 0.9444444444rem;
}
.team__heading {
  font-size: 1.1666666667rem;
  font-weight: 700;
}
.team__text {
  margin: 0;
  padding-top: 0.4444444444rem;
  font-weight: 400;
  color: #292929;
}
.team__description {
  margin: 0;
  padding-top: 0.2222222222rem;
  padding-bottom: 2.2222222222rem;
  color: #666;
  font-weight: 300;
}

.we-work {
  padding: 3.4444444444rem 0 6.0555555556rem 0;
  text-align: center;
  background-color: #f2f5f4;
}
.we-work__video {
  margin-top: 1.7222222222rem;
  width: 36.7777777778rem;
  height: 21.7777777778rem;
}
@media screen and (max-width: 768px) {
  .we-work {
    display: flex;
    align-items: center;
  }
  .we-work .container {
    height: auto;
  }
  .we-work__video {
    width: 21.8888888889rem;
    height: 13rem;
  }
}
@media screen and (max-width: 480px) {
  .we-work__video {
    width: 16.1666666667rem;
    height: 10rem;
  }
}/*# sourceMappingURL=main.css.map */