@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap");
@import 'layout/normalize.css';
html, body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
}

.container {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}

.inner-container {
  padding: 0 80px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

p {
  padding: 0;
  margin: 0;
}

.btn {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.btn-primary {
  font-size: 16px;
  text-transform: uppercase;
  padding: 21px 41px;
  background-color: #fedb3f;
  border-radius: 40px;
  font-weight: 800;
  transition: background-color 0.3s;
}
.btn-primary:hover {
  background-color: #FFD517;
}

.btn-reset {
  color: #ffffff;
  transition: color 0.3s;
}
.btn-reset:hover {
  color: #fedb3f;
}

.form {
  margin-top: 65px;
}
.form__row {
  display: flex;
  gap: 22px;
}
.form__row--buttons {
  margin-top: 44px;
}
.form__row--mt36 {
  margin-top: 36px;
}
.form__row--mt16 {
  margin-top: 16px;
}
.form__column {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.form__column--equal {
  width: 50%;
}
.form__field {
  width: 100%;
}
.form__field--checkbox {
  margin-top: 16px;
}
.form__field--checkbox label {
  margin-bottom: 0;
}
.form__field--radio {
  width: auto;
}
.form__field--radio label {
  margin-bottom: 0;
}
.form__label {
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.form__control {
  box-sizing: border-box;
  padding: 18px 12px;
  width: 100%;
  border: 3px solid transparent;
  border-radius: 4px;
  outline: 0;
}
.form__control:focus {
  border: 3px solid #fedb3f;
}
.form__chk {
  display: none;
}
.form__chk:checked + .form__checkbox {
  background: url("../images/icons/checkmark.svg") center center no-repeat #ffffff;
}
.form__chk:checked + .form__radiobox {
  background-image: radial-gradient(#fedb3f 0, #fedb3f 6px, #ffffff 6px, #ffffff 100%);
}
.form__checkbox {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
}
.form__radiobox {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 50%;
}

.page-nav {
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  z-index: 10;
}
.page-nav__dot {
  display: block;
  width: 18px;
  height: 18px;
  background-image: radial-gradient(#ffffff 0, #ffffff 3px, transparent 3px, transparent 100%);
  border: 1px solid transparent;
  border-radius: 50%;
  transition: border 0.3s;
  cursor: pointer;
}
.page-nav__dot:not(:last-child) {
  margin-bottom: 6px;
}
.page-nav__dot--active, .page-nav__dot:hover {
  border: 1px solid #ffffff;
}
.section {
  height: 100vh;
  box-sizing: border-box;
}
.section__heading {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.section__heading--white {
  color: #ffffff;
}
.section__heading + .section__subheading {
  width: 436px;
  margin: 0 auto;
  margin-top: 17px;
  color: #666;
  line-height: 1.25;
}

.order .section__heading {
  position: relative;
  z-index: 2;
}

.advantages {
  padding: 108px 82px;
  padding-bottom: 70px;
  text-align: center;
}
.advantages__list {
  display: flex;
  justify-content: space-between;
}
.advantages__item {
  display: flex;
  flex-grow: 1;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-top: 49px;
  padding: 0 25px;
}
.advantages__item:not(:last-child)::after {
  content: "";
  display: block;
  width: 67px;
  height: 21px;
  position: absolute;
  transform: translate(50%, -10px);
  right: 0;
  top: 64px;
  background: url("../images/icons/advantages-divider.svg");
}
.advantages__item:first-child {
  padding-left: 0;
}
.advantages__item:last-child {
  padding-right: 0;
}
.advantages__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 128px;
  width: 128px;
  border-radius: 50%;
  background-color: #f2f5f4;
}
.advantages__img {
  width: 68px;
  height: 68px;
}
.advantages__content {
  margin-top: 20px;
}
.advantages__heading {
  font-size: 27px;
}
.advantages__text {
  margin-top: 20px;
  color: #666;
  font-size: 20px;
  font-weight: 300;
}

.benefits {
  margin-top: 48px;
}
.benefits__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.benefits__item {
  display: flex;
  align-items: center;
  gap: 17px;
}
.benefits__icon {
  display: flex;
}
.benefits__img {
  width: 100%;
  height: 100%;
}
.benefits__content {
  width: 90px;
}
.benefits__text {
  font-weight: 700;
}

.contacts {
  font-style: normal;
  text-decoration: none;
}
.contacts--black {
  color: #292929;
}
.contacts--black .contacts__phone::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 15px;
  background: center/contain no-repeat url("../images/icons/Call-black.svg");
}
.contacts__phone {
  margin-top: 6px;
}
.contacts__phone::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 15px;
  background: center/contain no-repeat url("../images/icons/Call.svg");
}
.contacts__link {
  font-size: 22px;
  text-decoration: none;
}

.footer {
  padding: 17px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goods__items {
  display: flex;
  height: 100%;
}
.goods__item {
  min-width: 100px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.goods__item--active {
  flex-grow: 2;
}
.goods__item--active .goods__heading {
  transform: rotate(0deg);
  left: 84px;
  top: 109px;
}
.goods__item--active .goods__img {
  filter: brightness(100%);
}
.goods__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(40%);
}
.goods__heading {
  position: absolute;
  bottom: 110px;
  left: -60px;
  font-size: 48px;
  color: #ffffff;
  transform: rotate(-90deg);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  padding: 21px 0 49px 0;
  background: url("../images/content/header-1.jpg") left 90%/111% no-repeat;
  color: #ffffff;
}
.hero__content {
  max-width: 486px;
}
.hero__heading {
  margin: 102px 0 17px 0;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.18em;
}
.hero__text {
  font-size: 21px;
  margin-bottom: 40px;
}

.menu {
  flex-grow: 2;
  margin: 0 47px;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__link {
  text-decoration: none;
}

.order {
  position: relative;
  padding: 62px 80px 85px 80px;
  background: url("../images/content/order-form-bg.jpg") center center/cover no-repeat;
}
.order:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.order__form {
  position: relative;
  z-index: 2;
}

.params__image {
  width: 91px;
  height: 91px;
  background-color: #3a587e;
}

.review-card {
  margin-top: 32px;
  padding: 42px;
  background-color: #f2f5f4;
  display: flex;
  gap: 35px;
}
.review-card__image {
  width: 253px;
}
.review-card__right {
  padding-top: 28px;
}
.review-card__heading {
  font-size: 27px;
  font-weight: 700;
}
.review-card__text {
  max-width: 463px;
  margin: 14px 0 0 3px;
  line-height: 1.23;
  font-weight: 400;
  color: #666;
}
.review-card__author {
  margin: 27px 0 0 3px;
  font-weight: 500;
}

.review-selector {
  margin-top: 15px;
}
.review-selector__list {
  display: flex;
  gap: 4px;
  justify-content: center;
}
.review-selector__item {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.review-selector__item--active .review-selector__link, .review-selector__item:hover .review-selector__link {
  border: 6px solid #fedb3f;
}
.review-selector__link {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0 solid #fedb3f;
  overflow: hidden;
  transition: border 0.3s;
}
.review-selector__image {
  width: 100%;
  height: 100%;
}

.reviews {
  padding: 62px 79px;
}

.slider {
  background-color: #f8faf9;
  padding: 65px 0 33px 0;
}
.slide {
  display: flex;
  justify-content: stretch;
}
.socials__items {
  display: flex;
  gap: 14px;
}
.socials__link--vk .socials__image {
  background-image: url("../images/social/vk.svg");
}
.socials__link--vk:hover .socials__image {
  background-image: url("../images/social/vk-hover.svg");
}
.socials__link--fb .socials__image {
  background-image: url("../images/social/f.svg");
}
.socials__link--fb:hover .socials__image {
  background-image: url("../images/social/f-hover.svg");
}
.socials__link--ig .socials__image {
  background-image: url("../images/social/in.svg");
}
.socials__link--ig:hover .socials__image {
  background-image: url("../images/social/in-hover.svg");
}
.socials__link--tw .socials__image {
  background-image: url("../images/social/tv.svg");
}
.socials__link--tw:hover .socials__image {
  background-image: url("../images/social/tv-hover.svg");
}
.socials__image {
  width: 20px;
  height: 20px;
}

.team {
  margin: 68px 80px 60px;
  text-align: center;
}
.team__list {
  display: flex;
  justify-content: space-between;
  margin-top: 53px;
}
.team__content {
  margin-top: 17px;
}
.team__heading {
  font-size: 21px;
  font-weight: 700;
}
.team__text {
  margin: 0;
  padding-top: 8px;
  font-weight: 400;
  color: #292929;
}
.team__description {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 40px;
  color: #666;
  font-weight: 300;
}

.we-work {
  padding: 62px 0 109px 0;
  text-align: center;
  background-color: #f2f5f4;
}

.we-work__video {
  margin-top: 31px;
}/*# sourceMappingURL=main.css.map */