.btn {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.btn-primary {
  font-size: rem(16px);
  text-transform: uppercase;
  padding: rem(21px) rem(41px);
  background-color: $yellow;
  border-radius: rem(40px);
  font-weight: 800;
  transition: background-color .3s;
  &:hover {
    background-color: $yellow-hover;
  }
}

.btn-reset {
    color: $white;
  transition: color .3s;
  &:hover {
    color: $yellow
  }
}