html, body {
  height: 100%;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: $font-size;
}
.container {
  width: $page-width;
  height: 100%;
  margin: 0 auto; 
}
.inner-container {
  padding: 0 80px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
}
p {
  padding: 0;
  margin: 0;
}