.form {
  margin-top: rem(65px);
  &__container {
    display: flex;
    gap: rem(22px);
  }
  &__row {
    display: flex;
    gap: rem(22px);
    &--buttons {
      margin-top: rem(22px);
    }
    &--radios {
      margin-top: rem(14px);
    }
    &--checkboxes {
      margin-top: rem(16px);
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: rem(14px);
    &--equal {
      width: 50%;
    }

  }
  &__field {
    width: 100%;
    &--checkbox {
      margin-top: rem(16px);
      label {
        margin-bottom: 0;
      }
    }
    &--radio {
      width: auto;
      label {
        margin-bottom: 0;
      }
    }
  }
  &__label {
    display: flex;
    gap: rem(10px);
    align-items: center;
        font-weight: 400;
    color: $white;
    cursor: pointer;
    margin-bottom: rem(2px);
    user-select: none;
  }
  &__control {
    box-sizing: border-box;
    padding: rem(18px) rem(12px);
    width: 100%;
    border: rem(3px) solid transparent;
    border-radius: rem(4px);
    outline: 0;
    &:focus {
      border: rem(3px) solid $yellow;
    }
    &--textarea {
      height: 150px;
    }
  }
  &__chk {
    display: none;
    &:checked + .form__checkbox {
      background: url('../images/icons/checkmark.svg') center center no-repeat $white;
    }
    &:checked + .form__radiobox {
      background-image: radial-gradient($yellow 0, $yellow rem(6px), $white rem(6px), $white 100%);
    }
  }
  &__checkbox {
    flex-shrink: 0;
    display: inline-block;
    width: rem(25px);
    height: rem(25px);
    background-color: $white;
  }
  &__radiobox {
    flex-shrink: 0;
    display: inline-block;
    width: rem(25px);
    height: rem(25px);
    background-color: $white;
    border-radius: 50%;
  }

  @include tablets {
    &__container {
      flex-direction: column;
    }
    &__row {
      &--checkboxes {
        margin-top: rem(21px);
      }
      &--buttons {
        margin-top: rem(14px);
        justify-content: center;
      }
    }
    &__column {
      &--equal {
        width: 100%;
      }
    }
    &__control {
      padding: rem(8px) rem(10px);
      &--textarea {
        height: 80px;
      }
    }
  }

  @include phones {
    &__row {
      &--checkboxes {
        justify-content: center;
      }
      &--radios {
        justify-content: center;
      }
    }
    &__control {
      padding: rem(8px) rem(10px);
    }
  }
}