.form {
  margin-top: 65px;
  &__row {
    display: flex;
    gap: 22px;
    &--buttons {
      margin-top: 44px;
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 14px;
    &--equal {
      width: 50%;
    }
  }
  &__field {
    width: 100%;
    &--checkbox {
      margin-top: 16px;
      label {
        margin-bottom: 0;
      }
    }
    &--radio {
      width: auto;
      margin-top: 36px;
      label {
        margin-bottom: 0;
      }
    }
  }
  &__label {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    color: $white;
    cursor: pointer;
    margin-bottom: 2px;
  }
  &__control {
    box-sizing: border-box;
    padding: 18px 12px;
    width: 100%;
    border: 3px solid transparent;
    border-radius: 4px;
    outline: 0;
    &:focus {
      border: 3px solid $yellow;
    }
  }
  &__chk {
    display: none;
    &:checked + .form__checkbox {
      background: url('../images/icons/checkmark.svg') center center no-repeat $white;
    }
    &:checked + .form__radiobox {
      background-image: radial-gradient($yellow 0, $yellow 6px, $white 6px, $white 100%);
    }
  }
  &__checkbox {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: $white;
  }
  &__radiobox {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: $white;
    border-radius: 50%;
  }
}
