.form {
  margin-top: 65px;
  &__row {
    display: flex;
    gap: 20px;
    &--buttons {
      margin-top: 44px;
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 14px;
    &--equal {
      width: 50%;
    }
  }
  &__field {
    width: 100%;
    &--checkbox {
      margin-top: 16px;
    }
    &--radio {
      margin-top: 36px;
    }
  }
  &__label {
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: $white;
  }
  &__control {
    box-sizing: border-box;
    padding: 18px 12px;
    width: 100%;
    border: 3px solid transparent;
    border-radius: 4px;
    outline: 0;
    &:focus {
      border: 3px solid $yellow;
    }
  }
}
