// Sizes
$page-width: 940px;
$font-size: 18px;

// Breakpoints
$desktop: 1100px;
$tablets: 768px;
$phones: 480px;


// Colors
$white: #ffffff;
$yellow: #fedb3f;
$yellow-hover: #FFD517;
$dark-gray: #3a587e;
$gray: #666;
$light-gray: #f2f5f4;
$black: #292929;
$second-bg: #f8faf9;
$blue: #1968B1;
$social-normal: #B3B3B3;
$social-hover: #000000;


// Positions
$z_page-nav: 10;