.benefits {
  margin-top: rem(48px);
  &__list {
    display: flex;
    align-items: center;
    gap: rem(30px);
  }
  &__item {
    display: flex;
    align-items: center;
    gap: rem(17px);
  }
  &__icon {
    display: flex;
    width: 45px;
    height: 45px;
  }
  &__img {
    width: 100%;
  }
  &__content {
    width: rem(90px);
  }
  &__text {
    font-weight: 700;
  }

  @include tablets {
    display: none;
  }
}