.contacts {
  font-style: normal;
  text-decoration: none;
  &--black {
    color: $black;
    .contacts__phone::before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 15px;
      background: center/contain no-repeat url('../images/icons/Call-black.svg');
    }
  }
  &__address {
  }
  &__phone {
    margin-top: 6px;
    &::before {
      content: '';
      display: inline-block;
      width: 18px;
      height: 15px;
      background: center/contain no-repeat url('../images/icons/Call.svg');
    }
  }
  &__link {
    font-size: 22px;
    text-decoration: none;
  }
}
