.contacts {
  font-style: normal;
  text-decoration: none;
  white-space: nowrap;
  &--black {
    color: $black;
    .contacts__phone::before {
      content: '';
      display: inline-block;
      width: rem(18px);
      height: rem(15px);
      background: center/contain no-repeat url('../images/icons/Call-black.svg');
    }
  }
  &__phone {
    margin-top: rem(6px);
    white-space: nowrap;
    &::before {
      content: '';
      display: inline-block;
      width: rem(18px);
      height: rem(15px);
      background: center/contain no-repeat url('../images/icons/Call.svg');
      
    }
  }
  &__link {
    font-size: rem(22px);
    text-decoration: none;
  }

  @include tablets {
    display: none;
  }
}
