.goods {
  &__items {
    display: flex;
    height: 100%;
  }
  &__item {
    min-width: rem(100px);
    height: 100%;
    position: relative;
    overflow: hidden;
    &--active {
      flex-grow: 2;
      .goods__heading {
        transform: rotate(0deg);

        left: rem(84px);
        top: rem(109px);
      }
      .goods__img {
        filter: brightness(100%)
      }
    }
  }
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
  }
  &__heading {
    position: absolute;
    bottom: rem(110px);
    left: rem(-60px);
    font-size: rem(48px);
    color: $white;
    transform: rotate(-90deg);
  }
}
