.hero {
  padding: 21px 0 49px 0;
  background: url("../images/content/header-1.jpg") left 90%/cover no-repeat;
  color: $white;
  &__content {
    margin-top: 102px;
    max-width: 486px;
  }
  &__heading {
    margin-bottom: 17px;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.18em;
  }
  &__text {
    font-size: 21px;
    margin-bottom: 40px;
  }
}