.hero {
  padding-top: rem(21px);
  background: url("../images/content/header-1.jpg") center 90%/cover no-repeat;
  color: $white;
  &__content {
    margin-top: rem(102px);
    max-width: rem(486px);
  }
  &__heading {
    margin-bottom: rem(17px);
    font-size: rem(48px);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.18em;
  }
  &__text {
    font-size: rem(21px);
    margin-bottom: rem(40px);
  }

  @include tablets {
    padding: 0;
    &__content {
      height: 100%;
      margin: 0;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 rem(50px);
    }
    &__heading {
      margin-bottom: rem(9px);
      text-align: center;
    }
    &__text {
      font-size: rem(21px);
      margin-bottom: rem(40px);
    }
  }

  @include phones {
    &__content {

    }
    &__heading {
      font-size: rem(48px);
    }
    &__text {
      font-size: rem(21px);
      margin-bottom: rem(40px);
    }
  }
}