.menu {
  flex-grow: 2;
  margin: 0 rem(47px);
  &__list {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__link {
    text-decoration: none;
  }

  @include tablets {
    display: none;
    justify-content: center;
  }
}