.menu {
  flex-grow: 2;
  margin: 0 47px;
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item {
      }
  &__link {
    text-decoration: none;
  }
}