.page-nav {
  position: fixed;
  top: 50%;
  right: rem(50px);
  transform: translateY(-50%);
  z-index: $z_page-nav;
  &__dots {
  }
  &__dot {
    display: block;
    width: rem(18px);
    height: rem(18px);
    background-image: radial-gradient(
      $white 0,
      $white rem(3px),
      transparent rem(3px),
      transparent 100%
    );
    border: rem(1px) solid transparent;
    border-radius: 50%;
    transition: border 0.3s;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: rem(6px);
    }
    &--active,
    &:hover {
      border: rem(1px) solid $white;
    }
  }
  &__link {
  }
}
