.page-nav {
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  &__dots {
    
  }
  &__dot {
    display: block;
    width: 18px;
    height: 18px;
    margin: 3px 0;
    background-image: radial-gradient($white 0, $white 3px, transparent 3px, transparent 100%);
    cursor: pointer;
    &--active {
      background-image: radial-gradient($white 0, $white 3px, transparent 3px, transparent 100%),
      radial-gradient(transparent 0, transparent 8px, $white 8px, $white 9px, transparent 9px)
    }
  }
}
