.params {
  
}
.params__image {
  width: rem(91px);
  height: rem(91px);
  background-color: $dark-gray;
}
.params__heading {
}
.params__text {
}
.params__table {
}

.params__price {
}
.params__action {
}
