.review-card {
  margin-top: 32px;
  padding: 42px;
  background-color: $light-gray;
  display: flex;
  gap: 35px;
  &__left {
  }
  &__image {
    width: 253px;
  }
  &__right {
    padding-top: 28px;
  }
  &__heading {
    font-size: 27px;
    font-weight: 700;
  }
  &__text {
    max-width: 463px;
    margin: 14px 0 0 3px;
    line-height: 1.23;
    font-size: 18px;
    font-weight: 400;
    color: $gray
  }
  &__author {
    margin: 27px 0 0 3px;
    font-size: 18px;
    font-weight: 500;
  }
}
