.review-card {
  margin-top: rem(32px);
  padding: rem(42px);
  background-color: $light-gray;
  display: flex;
  gap: rem(32px);
  &__left {
  }
  &__image {
    width: rem(253px);
  }
  &__right {
    padding-top: rem(28px);
  }
  &__heading {
    font-size: rem(27px);
    font-weight: 700;
  }
  &__text {
    max-width: rem(463px);
    margin: rem(14px) 0 0 rem(3px);
    line-height: 1.23;
    font-weight: 400;
    color: $gray
  }
  &__author {
    margin: rem(27px) 0 0 rem(3px);
        font-weight: 500;
  }
}

@media screen and (max-width: 1100px) {
  .review-card {
    align-items: center;
    flex-direction: column;
    &__image {
      width: rem(130px);
    }
    &__right {
      padding-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__text {
      text-align: center;
    }
  }
  
}