.review-selector {
  margin-top: 15px;
  &__list {
    display: flex;
    gap: 4px;
    justify-content: center;
  }
  &__item {
    position: relative;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  &__item--active, &__item:hover {
    .review-selector__hightlighter {
      box-shadow: inset 0 0 0 6px $yellow;
      
    }
  }
  &__hightlighter {
    position: absolute;
    border-radius: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 0 0 $yellow;
    transition: box-shadow .3s;
  }
  &__image {
    width: 100%;
    height: 100%;
  }
}
