.slider {
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  background-color: $second-bg;
  padding: rem(65px) 0 rem(33px) 0;
  overflow: hidden;
  &__wrapper {
    overflow: hidden;
  }
  &__slides {
    display: flex;
    position: relative;
    transition: right;
  }
  @include tablets {
    padding: rem(30px) 10%;
  }
  @include phones {
    padding: rem(15px) 2%;
  }
}