.slide {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  gap: 60px;
  justify-content: stretch;
  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background: url('../images/slider/spot.svg') center center / 100% no-repeat;
  }
  &__image {
    
  }
  &__img {
    width: 100%;
  }
  &__right {
    flex: 1;
  }
  @include tablets {
    flex-direction: column;
    gap: 20px;
    &__left {
      background-size: 80%;
      &__image {
        width: 100%;
      }
    }
    &__right {
      text-align: center;
    }
  }
  @include phones {
    &__left {

    }
  }
}
