.socials {
  &__items {
    display: flex;
    gap: rem(14px);
  }
  &__link--vk {
    .socials__image {
      background-image: url('../images/social/vk.svg');
      background-size: cover;
    }
    &:hover {
      .socials__image {
        background-image: url('../images/social/vk-hover.svg');
      }
    }
  }
  &__link--fb {
    .socials__image {
      background-image: url('../images/social/f.svg');
      background-size: cover;
    }
    &:hover {
      .socials__image {
        background-image: url('../images/social/f-hover.svg');
      }
    }
  }
  &__link--ig {
    .socials__image {
      background-image: url('../images/social/in.svg');
      background-size: cover;
    }
    &:hover {
      .socials__image {
        background-image: url('../images/social/in-hover.svg');
      }
    }
  }
  &__link--tw {
    .socials__image {
      background-image: url('../images/social/tv.svg');
      background-size: cover;
    }
    &:hover {
      .socials__image {
        background-image: url('../images/social/tv-hover.svg');
      }
    }

  }
  &__image {
    width: rem(20px);
    height: rem(20px);
  }

  @include phones {
    .socials {
      &__items {
        justify-content: center;
      }
    }
  }
}