.team {
  margin: 0 rem(80px) 0;
  text-align: center;
  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: rem(53px);
    &--desktop {

    }
    &--mobile {
      display: none;
      flex-direction: column;
      align-items: center;
      .team__item {
        width: 40%;
      }
      .team__title {
        justify-content: center;
        margin-bottom: 10px;
      }
    }
  }
  &__item {
    width: 20%;
    &--active {
      .team__heading::before {
        transform: rotate(0deg);
      }
      .team__content {
        max-height: 1000px;
      }
    }
  }
  &__image {
    
  }
  &__img {
    width: 100%;
  }
  &__title {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-top: rem(17px);
    cursor: pointer;
  }
  &__heading {
    padding-left: 15px;
    position: relative;
    font-size: rem(21px);
    font-weight: 700;
    &::before {
      content: '';
      width: rem(9px);
      height: rem(9px);
      background: url('../images/icons/polygon.svg') center center / cover no-repeat;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%) rotate(-180deg);
      transform-origin: center;
      transition: transform .3s;
    }
  }
  &__content {
    overflow: hidden;
    max-height: 0px;
    transition: max-height .3s;
  }
  &__text {
    margin: 0;
    padding-top: rem(8px);
    font-weight: 400;
    color: $black;
  }
  &__description {
    margin: 0;
    padding-top: rem(4px);
    padding-bottom: rem(40px);
    color: $gray;
        font-weight: 300;
  }
  
  @include tablets {
    &__list--desktop {
      display: none;
    }
    &__list--mobile {
      display: flex;
      .team__item {
        width: 50%;
      }
    }
  }
}
