.team {
  margin: rem(68px) rem(80px) rem(60px);
  text-align: center;
  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: rem(53px);
  }
  &__item {
  }
  &__image {
  }
  &__img {

  }
  &__content {
    margin-top: rem(17px);
  }
  &__heading {  
    font-size: rem(21px);
    font-weight: 700;
  }
  &__text {
    margin: 0;
    padding-top: rem(8px);
        font-weight: 400;
    color: $black;
  }
  &__description {
    margin: 0;
    padding-top: rem(4px);
    padding-bottom: rem(40px);
    color: $gray;
        font-weight: 300;
  }
}
